body {
 background-color: #F1F1F1;
}

.form-style, .pre-style {
    max-width: 550px;
}

.pre-style .card {
    padding: 15px;
    /* white-space: pre-wrap; */
}

.btn-success {
    padding: 10px 50px;
}